<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.testapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="testApp.Android" android:theme="@style/MainTheme" android:icon="@mipmap/mars_iconcc">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="YOUR_API_KEY" > </meta-data>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>